body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-left: 156px;
}

.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label-delay {
  display: flex;
  flex-direction: column;
}

.delay {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.state-label {
  margin: 0 auto;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 336px;
  height: 40px;
}

button {
  margin-top: 24px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 360px;
  height: 40px;

  background-color: #4e75ff;

  transition: 250ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: #6c8cff;
}
